[submodule "plugins/commit-message-length-validator"]
	path = plugins/commit-message-length-validator
	url = https://gerrit.googlesource.com/plugins/commit-message-length-validator
	branch = .

[submodule "plugins/cookbook-plugin"]
	path = plugins/cookbook-plugin
	url = https://gerrit.googlesource.com/plugins/cookbook-plugin
	branch = .

[submodule "plugins/download-commands"]
	path = plugins/download-commands
	url = https://gerrit.googlesource.com/plugins/download-commands
	branch = .

[submodule "plugins/hooks"]
	path = plugins/hooks
	url = https://gerrit.googlesource.com/plugins/hooks
	branch = .

[submodule "plugins/replication"]
	path = plugins/replication
	url = https://gerrit.googlesource.com/plugins/replication
	branch = .

[submodule "plugins/reviewnotes"]
	path = plugins/reviewnotes
	url = https://gerrit.googlesource.com/plugins/reviewnotes
	branch = .

[submodule "plugins/singleusergroup"]
	path = plugins/singleusergroup
	url = https://gerrit.googlesource.com/plugins/singleusergroup
	branch = .
